<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="conexao" connectionString="Data Source=187.45.196.28;Initial Catalog=danilos5;User ID=danilos5;Password=pitr1020"/>
		<add name="danilos5ConnectionString" connectionString="Data Source=187.45.196.28;Initial Catalog=danilos5;Persist Security Info=True;User ID=danilos5;Password=pitr1020" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
    <globalization uiCulture="pt-pt" culture="pt-pt"/>
		<pages validateRequest="false"/>
		<httpRuntime requestValidationMode="2.0"/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
	</system.web>
</configuration>
