<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="conexao" connectionString="Data Source=187.45.196.28;Initial Catalog=danilos5;User ID=danilos5;Password=pitr1020"/>
    
  </connectionStrings>   
  <system.web>
    <pages validateRequest="false"/>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
